.small-padding{
    padding: 2px;
}
body{
    color: white;
    font-family: 'Quicksand', sans-serif;
    background-color: #01313a;
}
.container{
    text-align: center;
}
hr{
    background-color:rgba(1, 119, 141);
    width: 60vw;
}
h1{
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 30px;
}
h2, h3{
    color: #00B7B0;
    border: 3px solid white;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    padding: 20px 0;
    margin-bottom: 30px;
}
#manage-column h3{
    display: inline-block;
    color: rgb(230, 102, 0);
    padding: 0;
    border: none;
}
.btn{
    color: white;
    margin: 2px;
    transition-duration: 100ms;
}
a:hover, button:hover{
    cursor: pointer;
}
#vote-column button:active{
    background-color: #01313a !important;
}
#remove-list{
    margin: 0 auto;
    max-width: 225px;
}
#lead-header{
    border: none;
    color: white;
    font-family: 'Satisfy', cursive;
    margin-bottom: 15px;
}
#vote-header{
    border-style: dashed;
}
#vote-column{
    padding-bottom: 25px;
}
.remove-x{
    color: white;
    font-size: 25px;
}
#add-btn{
    background-color:#439AAA;
}
#add-btn:hover{
    background-color:#265a63;
}
